<div class="card">
  <div class="left">
    <img class="w-image" *ngIf="data?.custom_data?.imgsecundary" src="{{data?.custom_data?.imgsecundary}}" alt="shoe">
    <!--<i class="fa fa-long-arrow-left"></i>-->
    <!--<i class="fa fa-long-arrow-right"></i>-->
  </div>
  <div class="right">
    <div class="product-info">
      <div class="product-name">
        <h1>{{data.name}}</h1>
        <!--<i class="fa fa-search"></i>-->
        <!--<i class="fa fa-user"></i>-->
        <!--<i class="fa fa-shopping-cart"></i>-->
        <br/>
      </div>
      <div class="details" >
        <h3>{{data.description}}</h3>
        <h4 *ngIf="!this.user"><span class="fa fa-eur"></span> 0 </h4>
        <h4 *ngIf="!this.user" class="dis"><span class="fa fa-eur"></span> {{data.price}} </h4>
      </div>
      <!--<ul>-->
        <!--<li>SIZE</li>-->
        <!--<li class="bg">{{tallas[1].value}}</li>-->
      <!--</ul>-->
      <!--<ul>-->
        <!--<li>COLOR</li>-->
        <!--<li class="yellow"></li>-->
        <!--<li class="black"></li>-->
        <!--<li class="blue"></li>-->
      <!--</ul>-->
      <div class="product-name" *ngIf="this.user">
        <h1>{{this.user.billingAddress?.firstName}} <br>{{this.user.billingAddress?.lastName}}</h1>
        <!--<i class="fa fa-search"></i>-->
        <!--<i class="fa fa-user"></i>-->
        <!--<i class="fa fa-shopping-cart"></i>-->
        <br/>
      </div>
      <!--<span class="foot" *ngIf="this.user"><i class="fa fa-shopping-bag"></i>{{this.user.billingAddress?.firstName}} </span>-->
      <!--<span class="foot" *ngIf="this.user"><i class="fa fa-shopping-cart"></i>{{this.user.billingAddress?.lastName}}</span>-->
    </div>
  </div>
</div>
