<div class="card">
  <div class="left">
    <a href="{{data?.tokens[0]?.value}}" target="_blank" *ngIf="data.identification == 'nft'">
      <img class="w-image w-image-cripto" *ngIf="data?.custom_data?.imgsecundary" src="{{data?.custom_data?.imgsecundary}}" alt="shoe">
    </a>
    <img   class="w-image" *ngIf="data?.custom_data?.imgsecundary && data.identification != 'nft'" src="{{data?.custom_data?.imgsecundary}}" alt="shoe">
    <!--<i class="fa fa-long-arrow-left"></i>-->
    <!--<i class="fa fa-long-arrow-right"></i>-->
  </div>
  <div class="right">
    <div class="product-info">
      <div class="product-name">
        <h1>{{data.name}}</h1>
        <!--<i class="fa fa-search"></i>-->
        <!--<i class="fa fa-user"></i>-->
        <!--<i class="fa fa-shopping-cart"></i>-->
        <br/>
      </div>
      <div class="details" >
        <h3>{{data.description}}</h3>
        <h4 *ngIf="!this.user"><span class="fa fa-eur"></span> 0 </h4>
        <h4 *ngIf="!this.user" class="dis"><span class="fa fa-eur"></span> {{data.price}} </h4>
      </div>
      <!--<ul>-->
        <!--<li>SIZE</li>-->
        <!--<li class="bg">{{tallas[1].value}}</li>-->
      <!--</ul>-->

<!--      <div class="product-name" *ngIf="this.user">-->

<!--        <h1>{{data?.billingAddress?.firstName ? data?.billingAddress?.firstName  : data?.customer?.first_name }} <br> {{data?.billingAddress?.lastName ? data?.billingAddress?.lastName : data?.customer?.last_name}}</h1>-->
<!--        <br/>-->
<!--      </div>-->
<!--      <a href="{{data?.tokens[0]?.value}}" target="_blank" *ngIf="data.identification == 'nft'"><span class="foot" ><i class="fa fa-shopping-bag"></i>Ver Premio </span></a>-->
    </div>
  </div>
</div>
