.paddin10 {
  padding: 10px;
}
.paddin5 {
  padding: 5px;
}
.displaynone {
  display: none;
}
.displayblock {
  display: block;
}
.inline-grid {
  display: inline-grid;
}
.blurry-text {
  text-shadow: 0 0 15px #000000;
  color: transparent;
}
.disabledview {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .paddin5 {
    padding: 0px!important;
  }
}


.sorteo {
  width: 100%;
  height: 100%;
  background-color: #454545;
  position: absolute;
  z-index: 9999;
}
