

<app-header></app-header>

<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Lista de premios</h6>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="border-bottom border-gray pb-2 mb-0 row">
      <div class="col-6">
        <h6 class="">Lista de productos </h6>
      </div>
      <div class="col-6">
        <button  (click)="createawards()" type="submit" class="btn btn-primary float-right">Nuevo producto</button>
      </div>
    </div>
    <div class="media text-muted pt-3" *ngFor="let item of list; index as i;">
      <div class="col-10 media">
        <img *ngIf="item?.custom_data?.imgprimary" data-src="" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="{{item?.custom_data?.imgprimary}}" data-holder-rendered="true">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">

          <strong class="d-block text-gray-dark"><span>{{item.identification == 'comun' ? '🎁' : '💎' }}</span>{{item.name}} </strong>
          <strong *ngIf="item.count" class="d-block text-gray-dark float-left"><span>({{item.count}})</span> </strong> &nbsp; {{item.description}}
        </p>
      </div>
      <div class="col-2 inline-grid">
        <span class="text-center">
          <i (click)="delete(item._id)" class="fa fa-trash cursor paddin5"></i>
          <i (click)="edit(item._id)" class="fa fa-edit cursor paddin5"></i>
          <i (click)="opendetail(item?._id)" class="fa fa-dropbox cursor paddin5"></i>
        </span>
      </div>
    </div>
    <small class="d-block text-right mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item ">
            <button class="page-link" [disabled]="!hasPrevPage" (click)="pagintate('prev')"  >Previous</button>
          </li>
          <li class="page-item no-movil"><a class="page-link">Total de  registros: {{countpage}}</a></li>
          <li class="page-item"><a class="page-link">Page actual: {{page}} / {{totalPages}}</a></li>

          <li class="page-item">
            <button class="page-link" [disabled]="!hasNextPage" (click)="pagintate('next')">Next</button>
          </li>
        </ul>
      </nav>
    </small>
  </div>
</main>

