<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="top-add-5 titleone"><span style="color: #454545">OPENING ON {{nameday}} {{this.daymont}} AT {{this.hour}}</span>
        {{day}}:{{hours}}:{{minutes}}:{{seconds}}  WAIT TIME</h2>
    </div>
    <div class="col-12 text-center">
      <h1 class="texto-borde">RACKS <br>MEMBERS <br>  MYSTERYBOX</h1>
      <div class="floor">
        <div class='shadow'>
          <!--<h1 class="texto-borde">THE MYSTERYBOX OF RACKS.</h1>-->
          <!--<img src="assets/img/logo_racks_negro.png">-->
        </div>
        <div class='shadow2'></div>
        <div class='shadow3'></div>
        <div class="box">

          <div *ngIf="state.open && awardstrue" class="heart-gift">
            <img *ngIf="awardstrue" (click)="opendetail()" class="imgtapa cursor" [src]="imgaward">
          </div>
          <!--<i *ngIf="!state.open" class="fa fa-heart heart-gift"></i>-->
          <div class="{{state.open && awardstrue ? 'lid open': state.wasOpen ? 'lid close': 'lid' }} cursor" (click)="toggleBox()">
            <div class="qmark">
              <!--{{state.open? '!' : '?' }}-->
            </div>
            <div class="face ltop">
              <img class="imgtapabox" src="assets/img/logo_racks_blanco.png">
            </div>
            <div class="face lleft"></div>
            <div class="face lright"></div>
          </div>

          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right">

          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-3">
            <img class="imgmembers" src="assets/img/memberslogo.svg">
            <!--<h3 class="no-movil" style="float: right;  font-weight: bold;">-->
            <!--</h3>-->
          </div>
          <div class=" col-6 col-md-2 no-movil">

          </div>
          <div class="col-6 col-md-3 centeralto">

            <button (click)="openmodal()" class="cursor whats whathis buttonracks">🚀 WHAT IS THIS? 🚀</button>
          </div>
          <div class="col-md-4 col-12 ">
            <p class="float-rightnoresp">
              Exclusive product for RACKS MEMBERS <br>
              BOX {{codebox ? '#' + codebox : '--' }}  {{datauser.name ? '/' + datauser.name  : ''}} </p>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

