@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-bg-color2: rgb(245, 245, 245);
  --main-bg-color: rgb(69, 69, 69);
  --sombras2: 0 0 0.5em 0.25em rgb(255, 255, 255) inset;
  --sombras: 0 0 .5em .25em rgba(0,0,0,.2) inset;
}
body {
  /*background: rgb(248,242,244);*/
  /*background: radial-gradient(circle, rgba(248,242,244,1) 0%, rgba(116,123,132,1) 100%);*/
  background: rgba(245, 245, 246, 0.07);

}
.background-all {
  /*background: rgb(248,242,244);*/
  /*background: radial-gradient(circle, rgba(248,242,244,1) 0%, rgba(116,123,132,1) 100%);*/
  background: #f5f5f6;

}
.modal-dialog {
  box-shadow: 7px 12px 14px #505050!important;
}

.modal-content {
  border: 0px solid rgba(0, 0, 0, .2)!important;
  border-radius: 0rem!important;
}
.cursor {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 600px) {
  .no-movil {
    display: none;
  }
  .navbar-collapse {
    display: none;
  }
  .viewmovil {
    display: block!important;
  }
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 785px!important;
  }
  .modal-backdrop {
    background-color: #f7f7f7;
  }
}
