<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Ampliamos info en los siguientes días, pero de momento podemos contaros que Racks members será una subscripción mensual que incluirá una caja sorpresa que puede contener 3 tipos de artículos:
  <br>
  <ul>
    <li>Common: Camiseta diseño exclusivo del mes </li>
    <li>Rare: Camiseta + accesorio</li>
    <li>Ultra Rare: Zapatillas</li>
  </ul>
  Además de todo eso tendrás envíos gratis en todos los pedidos, acceso prioritario a los drops de productos exclusivos y muchas cosas más! Todo esto por tan solo 38.99€ Lo que suele costar cualquiera de nuestras camisetas de Drop 🚀🚀🚀
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>
