<div class="modal-header">
  <h4 class="modal-title pull-left">¡Bienvenidos, Racks Members!</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Esperamos que esta página, especialmente diseñada para vosotros, sea de vuestro agrado, como ya sabéis, recibiréis una caja con un regalo exclusivo mensual al ser miembros, aquí podréis ver su contenido. Todo es completamente aleatorio y aquí tenéis las probabilidades:
  <br>
  <br>
  <ul>
    <li>Común (90%): Camiseta con *DISEÑO EXCLUSIVO* cada mes, sólo para Racks Members.
    </li>
    <li>Raro (8%): Camiseta + accesorio (este accesorio puede ser cualquier diseño *loco* de la marca, tenéis algunas pistas en nuestro Instagram, pero será sorpresa, lo descubriréis cuando abráis la caja).
    </li>
    <li>Legendario (2%): Zapatillas, nuestro producto más exclusivo, pueden ser diseños pasados, futuros o prototipos completamente exclusivos que pueden o no comercializarse en un futuro.
    </li>
  </ul>
  <br>
  Como Members, sois parte *activa* de la marca, recibiréis correos para dar feedback de los productos que van a salir, acceso prioritario a los drops, envíos *gratis* y muchísimas sorpresas que están por llegar, sois la piedra angular de la marca y os lo vamos a demostrar. Esto es sólo el comienzo, disfruta.
  <br>
  <br>
  <div class="float-right font-weight-bold">
    El equipo Racks
  </div>
  <br>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>
